@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}
.window-app .window-content {
  padding: 0;
}
.window-app .window-content > * {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to debilus sheets */
.debilus .item-form {
  font-family: "Roboto", sans-serif;
}
.debilus .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0px;
  position: relative;
  overflow: visible;
}
.debilus .sheet-header .profile-img {
  flex: none;
  width: 125px;
  height: auto;
  border: none;
  border-radius: 0;
}
.debilus .sheet-header .header-fields {
  flex: 1;
}
.debilus .sheet-header .charname {
  display: flex;
  height: 20px;
  padding: 0px;
  margin: 5px 0;
  background: none;
  border-bottom: 1px solid black;
  border: none;
  flex: 1;
}
.debilus .sheet-header .charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  background: none;
  border: none;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
.debilus .sheet-header .level {
  position: absolute;
  left: 91px;
  top: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid black;
  background: none;
}
.debilus .sheet-header .level input {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 1.7em;
  font-weight: bolder;
  background: white;
  border: none;
  text-align: center;
  border-radius: 0;
}
.debilus .sheet-tabs {
  flex: 0;
  border-top: 0 !important;
  margin-top: 0 !important;
}
.debilus .sheet-body {
  height: 343px;
}
.debilus .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.debilus .sheet-body .tab .editor {
  height: 100%;
}
.debilus .tox .tox-editor-container {
  background: #fff;
}
.debilus .tox .tox-edit-area {
  padding: 0 8px;
}
.debilus .resource-label {
  font-weight: bold;
}
.debilus .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.debilus .items-header > * {
  font-size: 14px;
  text-align: center;
}
.debilus .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.debilus .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.debilus .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.debilus .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.debilus .items-list .item-name h3, .debilus .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.debilus .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.debilus .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.debilus .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.debilus .items-list .item:last-child {
  border-bottom: none;
}
.debilus .items-list .item .item-name {
  color: #191813;
}
.debilus .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.debilus .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.debilus .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.debilus .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.debilus .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.debilus .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.debilus .effects .item .effect-source,
.debilus .effects .item .effect-duration,
.debilus .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.debilus .effects .item .effect-controls {
  border: none;
}

.caracs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
.caracs .carac {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}
.caracs .carac img {
  width: 45px;
  height: 45px;
  border: none;
}
.caracs .carac input.value {
  position: absolute;
  bottom: 0;
  right: -8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
  font-weight: bold;
}
.caracs .carac .label {
  position: absolute;
  width: 28px;
  text-align: center;
  z-index: 10;
  font-size: 0.7em;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 5px;
}
.caracs .carac .label.bottom-right {
  bottom: 4px;
  right: 0px;
}
.caracs .carac input.value-current {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
  font-weight: bold;
}

.bars .wrapper {
  padding-left: 34px;
  position: relative;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}
.bars .wrapper img.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: none;
  transform: translateY(-25%);
  z-index: 501;
}
.bars .wrapper .bar {
  height: 20px;
  width: 97%;
  background-color: #f4f4f4;
  position: relative;
  margin: 20px 0;
  padding-left: 40px;
}
.bars .wrapper .bar input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 500;
  font-weight: bold;
  border: none;
  padding-left: 15px;
}
.bars .wrapper .bar input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.bars .wrapper .bar .max {
  position: absolute;
  top: 0;
  right: 3px;
  font-weight: bold;
  z-index: 501;
  line-height: 20px;
}
.bars .wrapper .bar .current {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bars .wrapper .bar .current.pv {
  background-color: rgb(255, 160, 160);
}
.bars .wrapper .bar .current.pm {
  background-color: rgb(160, 160, 255);
}

/*# sourceMappingURL=debilus.css.map */
